@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 198, 193);
}
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 0 6px 6px rgba(0, 0, 0, 0.1);
  margin: 50px;
  border-radius: 5px;
  padding-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
}

li {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 20px;
  font-weight: 400;
}

ul {
  margin-left: 20px;
}

a {
  padding: 10px;
  background-color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  color: black;
  justify-content: center;
  border: 1px solid black;
  width: 150px;
  margin-left: 20px;
  transition: all 0.3s;
}

a:hover {
  background-color: #ececec;
}

a:active {
  transform: scale(1.15);
}

.content {
  justify-content: center;
  padding: 20px;
}
